<div class="title">
  <h2>みんなの投稿</h2>
</div>

<!--検索フォーム-->
<div class="search">
  <h4>レシピ検索</h4>
  <%= search_form_for @q, url: search_recipes_path do |f| %>
    <%= f.label :cooking_name_cont, '料理を探す' %>
    <%= f.search_field :cooking_name_cont %>
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>


<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipes-list">
      
      <!--投稿ユーザー-->
      <div>
        <%= recipe.user.name %>
      </div>

      <!--料理名-->
      <div>
        <%= link_to recipe_path (recipe.id) do %>
          <!--料理名-->
          <p><%= recipe.cooking_name %></p>
          <!--料理画像-->
          <p><%= attachment_image_tag recipe, :recipe_image %></p>
        <% end %>
      </div>
      
      <!--いいね数-->
      <span id="favorite_buttons_<%= recipe.id %>">
        <%= render "favorites/favorite", recipe: recipe %>
      </span>
      
      <!--コメント件数-->
      <div>
        <p>コメント件数：<%= recipe.recipe_comments.count %></p>
      </div>
      
    </div>
  <% end %>
</div>

