<div class="title">
  <h2>みんなの投稿</h2>
</div>

<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipes-list">
      
      <!--料理名-->
      <div>
        <%= link_to recipe_path (recipe.id) do %>
          <!--料理名-->
          <p><%= recipe.cooking_name %></p>
          <!--料理画像-->
          <p><%= attachment_image_tag recipe, :recipe_image %></p>
        <% end %>
      </div>
      
      <!--いいねボタン-->
      <div>
        <% if recipe.favorited_by?(current_user) %>
          <p>
            ♥<%= recipe.favorites.count %> いいね
          </p>
        <% else %>
          <p>
              ♡<%= recipe.favorites.count %> いいね
          </p>
        <% end %>
      </div>
      
      <!--コメント件数-->
      <div>
        <p>コメント件数：<%= recipe.recipe_comments.count %></p>
      </div>
      
    </div>
  <% end %>
</div>