<div class="container">
  <h2 class="text-center">レシピを投稿する</h2>
  
  <hr/>
  
  <div>
    <p class="text-center text-muted"><%= flash[:alert] %></p>
  <!--  <p>-->
  <!--    <% if @recipe.errors.any? %>-->
  <!--      <%= @recipe.errors.count %>箇所、入力ミスがあるようです-->
  <!--    <% end %>-->
  <!--  </p>-->
  <!--</div>-->
  
  <div class="form">
    <%= form_with model:@recipe, url:recipes_path, local:true do |f| %>
      <%= f.hidden_field :id, :value => @recipe.id %>
  
      <div class="mt-5">
        <p><strong>料理名</strong></p>
        <%= f.text_field :cooking_name, class: 'form-control' %>
      </div>
  
      <div class="mt-5">
        <p><strong>料理画像</p>
        <%= f.attachment_field :recipe_image %>
      </div>
  
      <div class="mt-5">
        <p><strong>調理工程</strong></p>
        <%= f.text_area :recipe_content, class: 'form-control' %>
      </div>
  
      <div class="row">
        <div class="col-md-3 mt-5 mx-auto">
          <%= f.submit "投稿する", class: 'btn btn-info btn-sm btn-block my-2' %>
        </div>
      </div>
      
    <% end %>
  </div>

</div>