<div class="container">
  <h2>Food Staff へようこそ！</h2>
  
  <div class="card mb-3" style="width: 18rem;">
    <% @all_ranks.each do |recipe| %>
    
        <%= link_to recipe_path(recipe.id) do %>
          <%= attachment_image_tag recipe, :recipe_image, class: 'recipe-card-img' %>
        <% end %>
        
      <div class="card-body">
        <p class="card-text">
          <%= link_to recipe_path(recipe.id) do %>
            <%= recipe.cooking_name %>
          <% end %>
        </p>
        <p class="card-text"><%= recipe.favorites.count %> いいね</p>
        <p class="card-text"><small class="text-muted">投稿ユーザー：<%= recipe.user.name %></small></p>
      </div>
      
    <% end %>
  </div>
  
</div>