<div class="title">
  <h2>レビュー詳細</h2>
</div>

<div class="review">
  
  <!--商品名-->
  <p><%= @review.title %></p>
  <!--商品画像-->
  <%= attachment_image_tag @review, :review_image %>
  
  <!--評価点数-->
  <p>評価：<%= @review.rate %>点</p>
  
  <!--評価星-->
  <div id="star-rate-<%= @review.id %>"></div>
    <script>
      $('#star-rate-<%= @review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @review.rate %>,
      });
    </script>
  
  <!--レビュー内容-->
  <p><%= @review.review_content %></p>
  
</div>