<header id="header" class="fixed-top" style="background-color: #cab64a;">

  <h2 class="app-title text-center p-3">Food Staff</h2>

    
    <!--ログインしている場合-->
    <% if user_signed_in? %>
      <div style="margin: 10px; text-align: right;">
        ようこそ、<%= current_user.name %> さん！
      </div>
      
      <div class="row">
        <div class="col my-2">
          <%= link_to "レシピを投稿する", new_recipe_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
        
        <div class="col my-2">
          <%= link_to "レビューを投稿する", new_review_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
        
        <div class="col my-2">
          <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-secondary btn-block" %>
        </div>
      </div>

      <div class="row">
        <div class="col my-2">
          <%= link_to "トップページ", root_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
        
        <div class="col my-2">
          <%= link_to "みんなのレシピ", recipes_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
        
        <div class="col my-2">
          <%= link_to "みんなのレビュー", reviews_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
        
        <div class="col my-2">
          <%= link_to "ユーザー一覧", users_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
        
        <div class="col my-2">
          <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-block" %>
        </div>
      </div>

    <!--ログインしていない場合-->
    <% else %>
      <div class="row">
        <div class="col my-2">
          <%= link_to "トップページ", root_path, class: "btn btn-outline-secondary btn-block" %>
        </div>

        <div class="col my-2">
          <%= link_to "ログインする", new_user_session_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
  
        <div class="col my-2">
          <%= link_to "新規登録する", new_user_registration_path, class: "btn btn-outline-secondary btn-block" %>
        </div>
      </div>
    <% end %>
  
</header>